root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{json,props,targets,csproj,xml,yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.cs]
csharp_style_namespace_declarations = file_scoped:warning
dotnet_sort_system_directives_first = true
csharp_new_line_before_open_brace = all
dotnet_diagnostic.CA1848.severity = none
dotnet_diagnostic.CA1515.severity = none
dotnet_diagnostic.CA1716.severity = none
dotnet_diagnostic.CA1711.severity = none
dotnet_diagnostic.CA1805.severity = none
dotnet_diagnostic.CA1062.severity = none
dotnet_diagnostic.CA1031.severity = suggestion
dotnet_diagnostic.CA1002.severity = none
dotnet_diagnostic.CA1819.severity = none
dotnet_diagnostic.CA1303.severity = none
dotnet_diagnostic.CA1307.severity = none
dotnet_diagnostic.CA1309.severity = none
dotnet_diagnostic.CA1305.severity = suggestion
dotnet_diagnostic.CA1861.severity = none
dotnet_diagnostic.CA2007.severity = none
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1308.severity = none
dotnet_diagnostic.CA1024.severity = none
dotnet_diagnostic.CA1034.severity = none
dotnet_diagnostic.CA1028.severity = none
dotnet_diagnostic.CA1003.severity = none
dotnet_diagnostic.CA1812.severity = none
dotnet_diagnostic.CA1822.severity = suggestion
dotnet_diagnostic.CA1869.severity = suggestion
